* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: #303030;
  padding: 83px 0 18px 101px;
  min-height: 100vh;

  ul {
    li {
      list-style-type: none;
    }
    h2 {
      color: #fff;
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    h1 {
      color: #fff;
      font-family: "Playfair Display";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
    p {
      color: #fff;
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    h3 {
      color: #fff;
      font-family: "Playfair Display";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    h4 {
      color: #8c8c8c;
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  :placeholder {
    color: #303030;
  }
}
